.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px 15px 10px;
  font-size: 16px;
  background-color: var(--color-background-tertiary);
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1);
  position: relative;
  overflow: hidden;
}

.date {
  color: var(--color-text-secondary);
  font-size: 14px;
  margin-left: 10px;
}

.aciton {
  display: flex;
  align-items: center;
  position: absolute;

  top: 0;
  right: -60px;
  height: 100%;
  width: 70px;
  border-radius: 5px;
  overflow: hidden;
  transition: .3s;
}

.aciton:hover {
  transform: translateX(-60px);
}

.edit,
.delete,
.done {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  width: 100%;
  height: 100%;
}

.edit svg,
.delete svg,
.done svg {
  width: 20px;
  height: 20px;
}

.edit {
  background-color: #95652F;
}

.delete {
  background-color: #902C97;
}

.done {
  background-color: #31C0A3;
}

.editField {
  background-color: var(--color-background-secondary);
  color: inherit;
  border: none;
  padding: 3px 5px;
  border-bottom: 1px solid var(--color-text);
  border-radius: 3px;
  width: 100%;
  outline: none;
}