:root {
  --color-background: #5C329E;
  --color-background-secondary: #231C2E;
  --color-background-tertiary: #2B2437;

  --color-border: #322B3C;

  --color-text: #BCBABF;
  --color-text-secondary: #635F6C;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-text);
  background-color: var(--color-background);
  font-size: 18px;
  line-height: 1.2;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
}